.tile {
  display: inline-flex;
  box-sizing: border-box;
  /*if image have white background - this because tile have no bgclr*/
}

.grass {
  background-color: green
}

.rock {
  border: 1px solid black;
  background-color: grey;
}

.tree {
  background-color: brown
}
